@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* Fallback for unsupported browsers */
.text-balance {
  overflow-wrap: break-word;
  word-wrap: break-word;
  text-wrap: balance;
}

@layer {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes shine {
  0% {
    left: -200%;
  }
  100% {
    left: 200%;
  }
}

.shine-effect {
  position: relative;
  overflow: hidden;
}

.shine-effect::before {
  content: "";
  position: absolute;
  top: 0;
  left: -200%;
  width: 200%;
  height: 100%;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.5) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  transform: skewX(-20deg);
  transition: none;
}

.shine-effect:hover::before {
  animation: shine 0.75s ease-in-out;
}

@keyframes wiggle {
  0%, 100% {
    transform: rotate(-3deg);
  }
  50% {
    transform: rotate(3deg);
  }
}

.wiggle-effect:hover {
  animation: wiggle 0.3s ease-in-out;
}


.-sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 12px; /* Will stick at this point */
  display: flex;
  justify-content: center;
}

nav {
  width: fit-content;
  height: 60px; /* Increased height */
  background: rgba(255, 255, 255, 0.5); /* Increased opacity for more white */
  backdrop-filter: blur(10px); /* Blur effect for glass look */
  border-radius: 30px; /* Adjusted border-radius for larger height */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22);
  padding: 0 10px; /* Reduced padding */
  box-sizing: border-box;
  z-index: 9999;
  display: flex;
  justify-content: center; /* Center items horizontally */
  align-items: center;
  margin: 0 auto; /* Center the nav element */
}

.inner-nav {
  background: black;
  border-radius: 30px;
  padding: 0px 2px; /* Reduced padding */
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.inner-nav:hover {
  background: #333; /* Slightly lighter background on hover */
}

.lighten-effect:hover .nav-item {
  color: #e0e0e0; /* Slightly lighter text color on hover */
}

.nav-item {
  color: black;
  text-decoration: none;
  text-transform: capitalize; /* Changed from uppercase to capitalize */
  font-size: 1em; /* Reduced font size */
  line-height: 50px; /* Adjusted line-height */
  font-weight: 700;
  transition: color 0.3s ease;
  cursor: pointer;
  padding: 0 10px; /* Reduced padding */
}

.kard {
  color: black;
  text-decoration: none;
  text-transform: uppercase; /* Changed from uppercase to capitalize */
  font-size: 1.5em; /* Reduced font size */
  line-height: 50px; /* Adjusted line-height */
  font-weight: 700;
  transition: opacity 0.3s ease;
  cursor: pointer;
  padding: 0 10px; /* Reduced padding */
}

.nav-item:hover {
  color: #f6f6f6;
}

.text-white {
  color: #ffffff;
}