@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

.cell {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 800 450"><rect x="0" y="0" width="800" height="450" fill="white"/><path d="M21.61 144.83C40.01 146.96 40.01 146.96 137.32 75.71C234.63 4.45 234.63 4.45 118.92 4.45C3.21 4.45 3.21 4.45 3.21 73.57C3.21 142.69 3.21 142.69 21.61 144.83" fill="%23efefef" stroke="%233f3f3f" stroke-width="1"/><path d="M515.4 114.84C589.58 224.68 589.58 224.68 691.14 194.87C792.7 165.06 792.7 165.06 792.7 85.03C792.7 4.99 792.7 4.99 616.96 4.99C441.22 4.99 441.22 4.99 515.4 114.84" fill="%23efefef" stroke="%233f3f3f" stroke-width="1"/><path d="M103.61 200.77C154.22 253.57 154.22 253.57 192.84 239.92C231.47 226.27 231.47 226.27 278.17 127.1C324.88 27.92 324.88 27.92 325.71 16.74C326.55 5.55 326.55 5.55 284.53 5.55C242.52 5.55 242.52 5.55 147.76 76.75C53 147.96 53 147.96 103.61 200.77" fill="%23efefef" stroke="%233f3f3f" stroke-width="1"/><path d="M382.16 170.46C428.63 311.09 428.63 311.09 474.19 311.36C519.76 311.63 519.76 311.63 549.28 269.38C578.8 227.14 578.8 227.14 504.62 117.3C430.44 7.45 430.44 7.45 383.9 7.45C337.36 7.45 337.36 7.45 336.53 18.63C335.69 29.82 335.69 29.82 382.16 170.46" fill="%23efefef" stroke="%233f3f3f" stroke-width="1"/><path d="M276.25 285.81C315.09 338.32 315.09 338.32 355.93 337.35C396.78 336.37 396.78 336.37 410.26 326.3C423.74 316.23 423.74 316.23 377.27 175.59C330.81 34.96 330.81 34.96 284.11 134.13C237.4 233.31 237.4 233.31 276.25 285.81" fill="%23efefef" stroke="%233f3f3f" stroke-width="1"/><path d="M73.58 442.11C92.55 442.11 92.55 442.11 119.71 352.37C146.86 262.63 146.86 262.63 93.71 209.87C40.55 157.12 40.55 157.12 47.58 299.61C54.62 442.11 54.62 442.11 73.58 442.11" fill="%23efefef" stroke="%233f3f3f" stroke-width="1"/><path d="M42.37 300C32.78 157.56 32.78 157.56 16.93 155.37C1.08 153.18 1.08 153.18 1.08 297.81C1.08 442.44 1.08 442.44 26.52 442.44C51.95 442.44 51.95 442.44 42.37 300" fill="%23efefef" stroke="%233f3f3f" stroke-width="1"/><path d="M250.39 393.97C307.88 343.09 307.88 343.09 269.03 290.58C230.19 238.08 230.19 238.08 191.56 251.73C152.94 265.38 152.94 265.38 125.78 355.12C98.62 444.86 98.62 444.86 145.77 444.86C192.91 444.86 192.91 444.86 250.39 393.97" fill="%23efefef" stroke="%233f3f3f" stroke-width="1"/><path d="M568.78 382.03C606.58 443.69 606.58 443.69 699.86 443.69C793.13 443.69 793.13 443.69 793.13 309.98C793.13 176.26 793.13 176.26 691.57 206.08C590.01 235.89 590.01 235.89 560.5 278.13C530.98 320.37 530.98 320.37 568.78 382.03" fill="%23efefef" stroke="%233f3f3f" stroke-width="1"/><path d="M394.55 395.43C396.03 343.58 396.03 343.58 355.18 344.55C314.34 345.52 314.34 345.52 256.85 396.41C199.37 447.29 199.37 447.29 296.22 447.29C393.07 447.29 393.07 447.29 394.55 395.43" fill="%23efefef" stroke="%233f3f3f" stroke-width="1"/><path d="M559.16 384.64C521.36 322.98 521.36 322.98 475.79 322.71C430.22 322.44 430.22 322.44 416.74 332.52C403.26 342.59 403.26 342.59 401.79 394.44C400.31 446.3 400.31 446.3 498.64 446.3C596.96 446.3 596.96 446.3 559.16 384.64" fill="%23efefef" stroke="%233f3f3f" stroke-width="1"/></svg>');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
}

.dot-pattern {
  background: #fff;
  background-image:
    radial-gradient(#aaa 1px, transparent 1px),
    radial-gradient(#aaa 1px, transparent 1px);
  background-size: 40px 40px;
  background-position: 0 0, 20px 20px;
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.shine-effect {
  position: relative;
  overflow: hidden;
}

.shine-effect::before {
  content: "";
  position: absolute;
  top: 0;
  left: -200%;
  width: 200%;
  height: 100%;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.5) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  transform: skewX(-20deg);
  transition: none;
}

.shine-effect:hover::before {
  animation: shine 0.75s ease-in-out;
}

@keyframes shine {
  0% {
    left: -200%;
  }
  100% {
    left: 200%;
  }
}

@keyframes wiggle {
  0%, 100% {
    transform: rotate(-3deg);
  }
  50% {
    transform: rotate(3deg);
  }
}

.wiggle-effect:hover {
  animation: wiggle 0.3s ease-in-out;
}

.-sticky {
  position: -webkit-sticky; 
  position: sticky;
  top: 12px; 
  display: flex;
  justify-content: center;
}

nav {
  width: fit-content;
  height: 60px;
  background: rgba(255, 255, 255, 0.5); 
  backdrop-filter: blur(10px);
  border-radius: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22);
  padding: 0 10px; 
  box-sizing: border-box;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.inner-nav {
  background: black;
  border-radius: 30px;
  padding: 0px 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.inner-nav:hover {
  background: #333; 
}

.lighten-effect:hover .nav-item {
  color: #e0e0e0; 
}

.nav-item {
  color: white;
  text-decoration: none;
  text-transform: capitalize; 
  font-size: 1em; 
  line-height: 50px; 
  font-weight: 700;
  transition: color 0.3s ease;
  cursor: pointer;
  padding: 0 10px;
}

.kard {
  color: black;
  text-decoration: none;
  text-transform: uppercase; 
  font-size: 1.5em; 
  line-height: 50px; 
  font-weight: 700;
  transition: opacity 0.3s ease;
  cursor: pointer;
  padding: 0 10px; 
}

.nav-item:hover {
  color: #f6f6f6;
}

.text-white {
  color: #ffffff;
}

@keyframes rotate-shake {
  0%, 100% { transform: rotate(0deg); }
  25% { transform: rotate(-5deg); }
  50% { transform: rotate(5deg); }
  75% { transform: rotate(-5deg); }
}

.animate-rotate-shake {
  animation: rotate-shake 0.5s;
}

.cover-screen {
  transition: opacity 2s ease-out;
}

.cover-screen.hidden {
  opacity: 0;
}

.transition-curtain {
  transition: height 2s ease-out;
  height: 0;
}